/*
h1 - 48px
h2 - 36px
h3 - 28px
all other text - 21px

colors: 
   #588C94 
   #1D3C41
*/
body {
    margin: 0;
    font-size: 21px;
}

h1 { 
    font-size: 48px; 
}

h2 {
    font-size: 36px;
}

h3 {
    font-size: 28px;
}

header {
    background-color: #588C94;
    text-align: center;
    color: white;
    padding: 50px 0;
}

.intro {
    margin: 50px auto;
    width: 500px;
    text-align: center;
}

.my-skills {
    background-color: #1D3C41;
    padding: 50px 0;
    text-align: center;
    color: white;
}

.columns {
    display: flex;
    margin: 0 auto;
    width: 700px;
    border: red solid 5px;
}

.column {
    border: red solid 5px;
    margin: 5px;
}